/*______________________________________________________________________________
 * core custom.css
 *
 * Core custom css styles.
 */

/* Home Page - POD Collapse Icon Alignment Fix*/
body.curam.soria .dojoxPortlet .dijitClosed .dojoxArrowDown,
body.curam.soria .dndCover .dijitClosed .dojoxArrowDown {
    margin: 0px 0 0 0; 
}


/*Start: Mobius Defect 3986*/
body.curam.soria.modal .page-description .mand-help {
margin-left:35px;
width:82%;
}

body.curam.soria .description-title {
font-size:12px;
}

/*End: Mobius Defect 3986*/

.hidden-screenreader-label {
	border: 0; 
	clip: rect(0 0 0 0);
	height: 1px; 
	margin: -1px;
	overflow: hidden;
	padding: 0; 
	position: relative;
	width: 1px;	
	
}


.action-link-button input {
  background-color: white;
  color: #376F8F;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 100%;
  position: relative;
  bottom: -1px;
}

span.taskSubject{
    font-size: 120%;
    font-weight: bold;
    color: #F39002;
    width:100%;
}

.details .cluster .top .center,
.details .cluster .bottom .center {
    display:none;
}
.details .cluster .top .left,
.details .cluster .bottom .left {
    background:none;
}


/*
* Add styling to the person search page
*/
table tbody td.field div.personsearchname img,
a.in-page-list-icon img,
body.curam.soria div#content div.list table td a ~ img {
  vertical-align:middle;
}

body.curam.soria table tbody td.field div.personsearchname img {
	padding: 0 5px;
}

/*
* Add styling for viewing rich text
*/
div.rich-text ul, div.rich-text ol {
  margin-top:12px;
  margin-bottom:12px;
  padding-left:40px;
}

div.rich-text ul li {
  list-style-type:disc;
  list-style-image:none;
  list-style-position:outside;
}

div.rich-text ol li {
  list-style-type:decimal;
  list-style-image:none;
  list-style-position:outside;
}

div.rich-text sub {
  vertical-align:sub !important;
}

div.rich-text sup {
  vertical-align:super !important;
}

div.events-attendees-list table tbody tr td.first-field {
  padding-left: 0px;
}


/* RTC 3512 - Action Menu Item Not Visible - Remove unnecessary space */

body.curam table.dijitMenuTable.dijitReset tr.dijitMenuItem {
   height:9px !important;
}

body.curam.soria div.dijitPopup.dijitMenuPopup tr.dijitMenuItem td.dijitMenuArrowCell {
    padding:0px 5px 0px 4px;
}


body.curam div.dijitPopup.dijitMenuPopup .dijitMenuItem,
body.curam div.dijitPopup.dijitMenuPopup .dijitMenuItem .dijitMenuItemLabel,
body.curam div.dijitPopup.dijitMenuPopup .dijitMenuItem .dijitMenuArrowCell {
     height:18px;
}

body.curam div.dijitPopup.dijitMenuPopup .dijitMenuItem .dijitMenuItemLabel {
    padding:0px 5px 0px 8px;
    height:18px !important;
}


/* This change is for Top Menu Items */
body.curam div.dijitPopup.dijitMenuPopup table.tab-actions-menu-bar .dijitMenuItem {
    height:9px !important;
}

/* End - RTC 3512 */


/*
* Styling to remove extra set of action buttons from Org Structure tree
* TEC-6302
* CR00254430, JF
*/
#Curam_Organization_OrganisationStructureTreeWindow .page-header
{
  display: none;
}

#Curam_Organization_OrganisationStructureTreeWindow .title-exists
{
  top:0px;
}

/*
* Styling to add the elipsis to the property description when it excceds one
* line on the search result list.
* CR00344670, JY
*/
.SYSADMAPP.soria .list.property-admin-search-result-list table tbody tr td.field div.text-field div.line {
  display:none;
}
.SYSADMAPP.soria .list.property-admin-search-result-list table tbody tr td.field div.text-field div.line:first-child {
  display:block;
}

.SYSADMAPP.soria .list.property-admin-search-result-list table tbody td.first-field+td.field+td.field,
.SYSADMAPP.soria .list.property-admin-search-result-list table tbody td.first-field+td.field+td.field+td.field,
.SYSADMAPP.soria .list.property-admin-search-result-list table tbody td.field div.text-field div.line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.soria div.cluster.property-admin-dynamic-message table td.field {
color: #FF0000;
}
.soria .cluster.evidence-in-page-navg .in-page-nav-tabContainer { height: 25px !important; }

body.curam .dijitTextBox.dijitComboBox.codetable {
	background:#ffffff;
	height:24px;
	border:1px solid #5a5a5a !important;
	font-family:HelvNeueRomanforIBM, Helvetica, Arial !important;
	font-size:14px;
	color:#464646;
	box-sizing:border-box;
	min-width: 100%;
}

body.curam.details div.content-panel-detail.person-details-panel-no-links div.content-contacts,
body.curam.details div.content-panel-detail.person-details-panel-onecol div.content-contacts,
body.curam.details div.content-panel-detail.person-details-panel div.content-contacts {
  top: 135px;
}

/* Curam V7 - Screen Size - Page Title */

body.curam.soria div.modalDialog div.dijitDialogTitleBar span.dijitDialogTitle {
       font-size:15px;
       padding-bottom:0px;
}

body.curam.soria .page-title-bar {
       margin:0px 40px 0px 40px;
       height:30px;
       background-color:#ffffff;
       background-image:none;
       position:relative;
       height:26px;
       border:none;
       padding:0px;
}

body.curam.soria div.cluster div.header-wrapper h3.collapse, 
body.curam.soria div.cluster div.header-wrapper h3,
body.curam.soria div.list div.header-wrapper h3, 
body.curam.soria div.list div.header-wrapper h3.collapse,
body.curam.soria div.cluster table td.field div.header-wrapper h3, 
body.curam.soria div.list table td.field div.header-wrapper h3 {
       font-size:16px;
       line-height:6px;
       min-height:6px;
       font-family:HelvNeueLightforIBM, Helvetica, Arial;
       font-weight:normal;
       color:#1d3649;
       border-bottom:1px solid #e0e0e0;
       padding-left:10px;
       padding-top:0px;
       margin-top:1px;
       padding-bottom:5px;
       background-color:transparent;
}

body.curam.soria div.list div.header-wrapper h3.collapse .collapse-title,
body.curam.soria div.list div div.header-wrapper h3 span.collapse-title,
body.curam.soria div.cluster div div.header-wrapper h3.collapse span.collapse-title,
body.curam.soria div.list div div.header-wrapper h3.collapse span.collapse-title,
body.curam.soria div.list div div.header-wrapper h3 span.collapse-title {
       margin-bottom:0px;
       margin-top:9px;
}

body.curam.soria div.cluster p.description,
body.curam.soria div.list p.description {
       color:#464646;
       font-family:HelvNeueRomanforIBM, Helvetica, Arial;
       font-size:12px;
       line-height:14px;
       min-height:0px;
       padding-left:10px;
       margin:10px 0px;
       padding-top:0px;
}

body.curam.soria div.CUSTOM-STYLE.cluster table th.label {
       font-family:HelvNeueMediumforIBM, Helvetica, Arial;
       font-size:12px;
       width:	130px;
       line-height:14px;
       min-height:20px;
       color:#464646;      
       padding: 5px 5px 0px 0px;
       background-color:transparent;
}


body.curam.soria div.cluster table th.label {
       font-family:HelvNeueMediumforIBM, Helvetica, Arial;
       font-size:12px;
       line-height:14px;
       min-height:20px;
       color:#464646;
       padding:5px 15px !important;
       background-color:transparent;
}

body.curam.soria div#content div.list table th a,
body.curam.soria div#content table div.list table th a:hover,
body.curam.soria div#content table div.list table th a:focus {
       font-size:13px;
       line-height:16px;
       display:inline-block;
}

body.curam.soria li.dijitMenuItem,
body.curam.soria div.list table td.codetable input,
body.curam.soria div.cluster table td.codetable input {
       font-size:12px;
}

body.curam.soria div.cluster table td.field,
body.curam.soria div.cluster table td.container,
body.curam.soria div.cluster table td.codetable,
body.curam.soria div.cluster table td.address {
       font-size:12px;
       padding-top:2px;
       padding-right:0px;
       padding-bottom:4px;
       padding-left:1px;
}

body.curam.soria div.cluster div.list table td.field {
       padding-bottom:6px;
       padding-left:0px;
}

body.basic .title-exists {
       top:26px;
}

/* Search Pages Space from top */
body.basic .title-exists.desc-exists {
       top:40px;
}

/* text area padding and font-size */
body.curam.soria textarea {
       padding:0px 1px !important;
       font-size:12px;
}

/* text area padding - removed left side padding on focus and hovering */
body.curam.soria div.cluster table tbody td.field textarea:hover,
body.curam.soria div.cluster table tbody td.field textarea:focus {
       padding-left:1px !important;
}

body.curam.soria div#content td.codetable label.ct-radio {
    padding-left:0px;
    margin-right:20px;
    vertical-align:-3px;
}

body.soria div#content td.codetable label.ct-radio {
    margin-left: 0px;
}

/* Select Box - Font size and removed left side padding */
body.curam .input-cluster .codetable input.dijitInputInner {
      // padding:0px 0px 0px 1px !important;
       font-size:12px;
}


/* Input Date Box - Resize of font and removed left, right side padding */
body.curam.soria div#content table.date-time td.input-date input.date {
       padding:0px 1px 0px 1px;
       font-size:12px;
}

/* Input Date Box - removed left side padding at the time of hovering or focus */
body.curam.soria div#content table.date-time td.input-date input.date:hover,
body.curam.soria div#content table.date-time td.input-date input.date:focus {
       padding-left:1px;
}


body.curam.soria table.transfer-list select,
body.curam.soria select[multiple].codetable {
       overflow:auto;
       font-family:HelvNeueRomanforIBM, Helvetica, Arial;
       font-size:12px;
       background:#ffffff;
       border:1px solid #5a5a5a;
}

/* box border size - For ex. Placement Review - Concerning */
body.curam.soria .list table tr.even-last-row td.first-field,
body.curam.soria .list table tr.odd-last-row td.first-field{
       border-bottom:1px solid #e0e0e0;
}

body.curam.soria .list table tr.even-last-row td.last-field,
body.curam.soria .list table tr.odd-last-row td.last-field {
       border-bottom:1px solid #e0e0e0;
}

/* Modal page close Icon */
body.curam.soria div.modalDialog .dijitDialogHelpIcon,
body.curam.soria div.modalDialog .dijitDialogCloseIcon {
       width:30px;
       height:26px;
       top:6px;
}

/* Modal (pop up) page heading space */
body.curam.soria div.dijitDialogTitleBar {
padding:7px 0px 20px 0px;
height:11px !important;
background:#ffffff;
}

/* Search page header font size  */
body.curam.soria .tab-wrapper .summaryPane .detailsPanel-bc .detailsTitleText {
font-family:HelvNeueLightforIBM, Helvetica, Arial;
font-size:15px;
padding-top:0px;
}



/* Context Panel */
body.curam.context-panel.details .context-panel-wrapper .container-panel {
  min-width: 1110px;
  height: 172px;
}

/* Context Panel - Reference Number */
body.curam .cfss-case-reference-inv-casenumber,
body.curam .case-reference-adoptioncasenumber,
body.curam .cfss-case-reference-ongoing-casenumber {
  font-family: HelvNeueMediumforIBM, Helvetica, Arial;
  font-size: 12px;
  color: #264a60;
  text-align: right;
  line-height: 10px;
  margin-top: -10px;
  padding: 0px;
  right: 30px;
}

/* Context Panel - Title */
body.curam .case-reference-with-invtitle,
body.curam .case-reference-with-sub-title,
body.curam .case-reference-with-adoptiontitle,
body.curam .case-reference-with-ongoingtitle {
  font-size: 14px;
  line-height: 16px;
}
/* Context Panel - Case name details line height */
body.curam.soria .pd-container-panel .image-panel-content .name-one-title a,
body.curam.soria .container-panel .image-panel-content .name-one-title a {
  line-height: 14px;
  height: 20px;
  font-size: 12px;
}

/* Context Panel - Case name details font and Email Address font */
body.curam.context-panel div.content-panel-detail a,
body.curam.context-panel .container-panel-serviceorreferral .serviceorreferral-details .link.tab-link,
body.curam.context-panel .container-panel-serviceorreferral .serviceorreferral-details .link.tab-link a {
  font-size: 12px !important;
}


/* SUbtitle font size */
body.curam.soria .page-title-bar .title h2 {
       font-size:15px;
}

body.curam.soria div.list table td {
       font-size:12px;
       padding-bottom:6px;
       padding-left:0px;
}

body.curam.soria tr.even-last-row td.first-field,
body.curam.soria tr.odd-last-row td.first-field {
       padding-left:0px !important;
}

body.curam.soria .list table thead tr th span,
body.curam.soria .cda-typical-picture-editor table.list th span {
    padding-top: 0px;
    padding-bottom: 0px;	
}

body.curam.soria .page-level-menu .disabled-link,
body.curam.soria .page-level-menu a,
body.curam.soria .page-title-bar .one a {
       font-size:12px;
       max-width:210px;
}

/* Main Header height size for ex. Home  Supervisor workspace etc. */
body.curam.soria #app-sections-container-dc_tablist {
       height:36px !important;
}

/* Main Header height size for ex. Home  Supervisor workspace etc. */
body.curam.soria .app-sections-container #app-sections-container-dc_tablist > .dijitTabListWrapper .dijitTab {
       padding:5px 10px 3px 10px;
}

/* Actions Menu (Pop up) menu item */
body.curam div.dijitPopup.dijitMenuPopup table.tab-actions-menu-bar .dijitMenuItemLabel {
       font-family:HelvNeueRomanforIBM, Helvetica, Arial;
       font-size:11px;
}

/* START - The following changes are for link with box - For ex. Ongoing -> Legal -> Legal Actions (App for Review) -> Court actions/Secondary Legal actions etc.
body.curam.basic div#content .action-set {
       min-height:22px;
}

body.curam.basic div#content .action-set a.ac,
body.curam.soria div#content div.cluster table .meeting-view.multi-select a {
       padding:0px 10px;
}

body.curam.basic div#content .action-set.blue-action-set .middle {
       font-size:11px;
}
END - The following changes are for link with box */

/* Context Panel - Provider */
body.curam.soria div#content div.provider-container div.content-panel-detail.provider-details-panel div.content-name {
    font-size: 15px !important;
    line-height: 12px !important;
} 

body.curam.soria div#content div.provider-container div.content-panel-detail.provider-details-panel {
    margin-top: 0px;
}

div.provider-image-panel {
  top: -8px;
}

body.curam.soria div#content div.provider-container div.content-panel-detail.provider-links-panel .provider-status {
    font-size: 15px !important;
    line-height: 12px !important;
}

body.curam.soria div#content div.provider-container div.provider-details-panel div.content-contacts div.phonenumber,
body.curam.soria div#content div.provider-container div.provider-details-panel div.content-contacts div.email,
body.curam.soria div#content div.provider-container div.provider-details-panel div.content-contacts div.webaddress {
    font-size: 12px !important;
}

body.curam .cfss-case-tab-invdetails,
body.curam .cfss-case-tab-adoptiondetails,
body.curam .cfss-case-tab-ongoingdetails {
  border: 0px;
  height: 120px;
  background-color: transparent;
}

/* POD TITLE TEXT */
body.curam.soria .pod-container .dojoxPortlet .dijitTitlePaneTitle span.dijitTitlePaneTextNode, 
body.curam.soria .dndCover .dojoxPortlet .dijitTitlePaneTitle span.dijitTitlePaneTextNode { 
    margin: 0px 10px;
       font-size: 15px;
}

/* POD COLLAPSE ICON */
body.curam.soria .dojoxPortlet .dijitOpen .dojoxArrowDown,
body.curam.soria .dndCover .dijitOpen .dojoxArrowDown {
    margin: 0px 0 0 0;
}

/* POD CLOSE ICON */
body.curam.soria .pod-container .dojoxPortlet .dojoxCloseNode, 
body.curam.soria .dndCover .dojoxPortlet .dojoxCloseNode  { 
    margin: 0px 0 0 0;
}

/* POD TITLE CONTAINER */
body.curam.soria .pod-container .pod-styling  .dijitTitlePaneTitle, 
body.curam.soria .dndCover .pod-styling  .dijitTitlePaneTitle {
    height: 19px; 
}

/** POD - QUICK LINKS **/
body.curam.soria .pod-styling .pod-list.list-body {
       font-size: 11px;
}

body.curam.soria .pod-container .pod-styling  .pod-body, 
body.curam.soria .dndCover  .pod-styling  .pod-body  {  
  padding: 3px 10px 5px 10px !important;
}

body.curam.soria .pod-body .weekly-calendar {
       font-size: 10px;
}

body.curam.soria .dijitTitlePaneContentInner {
  padding: 0px 5px 0px 5px;
}

/* For pods without the north region - For ex. My Organisation Units */
body.curam.soria .pod-container .pod-styling .pod-body > div > div.list-info-header .list-info, 
body.curam.soria .dndCover .pod-styling .pod-body > div > div.list-info-header .list-info {
    padding-bottom: 4px;
}

body.curam.soria .pod-body span.list-info {
    top: -27px;
    font-size: 11px;
} 

/* POD LISTS */
body.curam.soria .pod-body .list-body { 
    font-size: 11px;
}

body.curam.soria .pod-body a.pod-home-link-text {
    font-size: 11px;
}

body.curam.soria .pod-body .list-body tbody[visibleitems="1"] td.field, 
body.curam.soria .pod-body .list-body tbody[visibleitems="1"] td.action-menu-col {
    font-size: 11px;
}

body.curam.soria .pod-body .button-link { 
    font-size: 11px;
}

 div.pod-container-actions {
    height: 32px; 
}

body.curam.soria .expand-list-control td.dijitMenuItemLabel,
body.curam.soria .expand-list-control tr.dijitMenuItem{
font-size:11px;
}

/* POD - EDIT / PENCIL - ICON */
body.curam.soria .pod-container .dojoxPortlet .dojoxPortletSettingsIcon,
body.curam.soria .dndCover .dojoxPortletSettingsIcon  {
    margin: 0px 8px 0 0;
}

body.curam.soria .pod-body .button-link .actioncontrol-button-center a {  
    padding: 0 30px 7px 0;  
}

body.curam.soria .pod-container .gridContainerZone .pod-styling .filter-font, 
body.curam.soria .dndCover .pod-styling .filter-font {
    font-size: 11px;
}

body.curam.soria .pod-container .gridContainerZone .pod-styling .filters select,
body.curam.soria .dndCover .pod-styling .filters select {
    font-size: 11px;
}

body.curam.soria .pod-container .gridContainerZone .pod-styling .filters .portlet-controls .filter-button,
body.curam.soria .dndCover .pod-styling .filters .portlet-controls .filter-button {
       font-size:11px;
}

/* MY TASKS POD - OVERDUE */
body.curam.soria .pod-body .north .overdue { 
    margin: 7px 0px 0px 0px;
    font-size: 11px;
} 

/* MY TASKS POD - list font size */
body.curam.soria div#content div#PT2017_pane table#PT2017_table tr td {
  font-size: 11px;
}

/* Admin - Org. Summary POD Fonts */
body.curam.soria div#PT2025_body div.org-summ-background table.summary-content td,
body.curam.soria div#PT2025_body div.org-summ-background table.summary-content-loc td {
    font-size: 11px;
    padding: 3px 0;
}

/* Admin - Org. Summary Heading Fonts */
body.curam.soria div#PT2025_body div.org-summ-background table.summary-title th {
    font-size: 12px;
    padding-bottom: 2px;
}

/* POD Settings */
body.curam.soria .pod-container .selection-table .checkbox-container .checkbox-label {
       font-size:11px;
    vertical-align: -5px;
    margin-left: 2px;
} 

body.curam.soria .pod-container .selection-table .checkbox-container, dijitContentPane div {
    margin-bottom: 3px;
}

body.curam.soria .pod-container div.pod-select-pane div.customize-actions {
    padding-bottom: 7px;
    padding-top: 2px;  
}

/* Context Panel - Investigation - Right side details font */
body.curam .cfss-case-details-table th.field.horiz-body-first-cell {
  font-size: 12px;
}

/* Context Panel - Investigation - Right side details font */
body.curam .cfss-case-details-table td.field.horiz-body-last-cell {
  font-size: 12px;
}

/* Number of Allegations Font Size */
body.curam .cfss-case-invdetails .allegation-normal-text {
  font-size: 12px;
  padding: 5px 10px 0px 0px;
}

/* Context Panel - Person - Person Name Font size */
body.curam div.content-panel-detail.person-details-panel .content-name,
body.curam div.content-panel-detail.person-details-panel .cfss-content-name,
body.curam div.content-panel-detail.pd-content-panel-onecol .pd-reference,
body.curam div.content-panel-detail.cfss-person-details-panel-no-links .cfss-content-name,
body.curam div.content-panel-detail.cfss-person-details-panel-onecol .cfss-content-name,
body.curam div.content-panel-detail.cfss-person-details-panel .cfss-content-name {
  font-size: 14px;
}

/* Context Panel - Person - Person Reference Number Font size */
body.curam div.content-panel-detail.person-details-panel div.cfss-content-participant-id,
body.curam div.content-panel-detail.cfss-person-details-panel-no-links .cfss-content-participant-id,
body.curam div.content-panel-detail.cfss-person-details-panel-onecol .cfss-content-participant-id,
body.curam div.content-panel-detail.cfss-person-details-panel .cfss-content-participant-id {
       font-size: 12px;
}

/* Context Panel - Person - Address, sex, age, phone/fax number font size */
body.curam div.content-panel-detail.cfss-person-details-panel-no-links tr td.cfss-content-address, 
body.curam div.content-panel-detail.cfss-person-details-panel-no-links div.cfss-content-address, 
body.curam div.content-panel-detail.cfss-person-details-panel-no-links div.cfss-content-sex,
body.curam div.content-panel-detail.cfss-person-details-panel-no-links div.cfss-content-age,
body.curam div.content-panel-detail.cfss-person-details-panel-no-links div.cfss-phonenumber, 
body.curam div.content-panel-detail.cfss-person-details-panel-no-links div.cfss-faxnumber,
body.curam div.content-panel-detail.cfss-person-details-panel-no-links div.cfss-email,
body.curam div.content-panel-detail.cfss-person-details-panel-onecol div.cfss-content-address,
body.curam div.content-panel-detail.cfss-person-details-panel-onecol div.cfss-content-sex,
body.curam div.content-panel-detail.cfss-person-details-panel-onecol div.cfss-content-age,
body.curam div.content-panel-detail.cfss-person-details-panel-onecol div.cfss-phonenumber,
body.curam div.content-panel-detail.cfss-person-details-panel-onecol div.cfss-faxnumber,
body.curam div.content-panel-detail.person-details-panel div.cfss-content-map, 
body.curam div.content-panel-detail.person-details-panel div.cfss-email,
body.curam div.content-panel-detail.person-details-panel tr td.cfss-content-address, 
body.curam div.content-panel-detail.person-details-panel div.cfss-content-address, 
body.curam div.content-panel-detail.person-details-panel div.cfss-content-sex,
body.curam div.content-panel-detail.person-details-panel div.cfss-content-age,
body.curam div.content-panel-detail.person-details-panel div.cfss-phonenumber, 
body.curam div.content-panel-detail.person-details-panel div.cfss-faxnumber,
body.curam div.content-panel-detail.cfss-person-details-panel div.cfss-email,
body.curam div.content-panel-detail.cfss-person-details-panel tr td.cfss-content-address, 
body.curam div.content-panel-detail.cfss-person-details-panel div.cfss-content-address, 
body.curam div.content-panel-detail.cfss-person-details-panel div.cfss-content-sex,
body.curam div.content-panel-detail.cfss-person-details-panel div.cfss-content-age,
body.curam div.content-panel-detail.cfss-person-details-panel div.cfss-phonenumber, 
body.curam div.content-panel-detail.cfss-person-details-panel div.cfss-faxnumber {
       font-size: 12px;
}

/* Context Panel - Person, Person Prospect - image resize from 100% */ 
.image-panel-content div.participant-image img {
  height:95%;
  width:95%;
}


/* Context Panel - Person - Participant Image - Remove unnecessary space over the image*/
body.curam div.content-panel-detail.case-participant-panel,
body.curam div.content-panel-detail.cfss-person-image-panel {
  top: 5px;
}

/* Context Panel - Person - Participant Details - Remove unnecessary space over the details*/
body.curam div.content-panel-detail.person-details-panel,
body.curam div.content-panel-detail.cfss-person-details-panel-onecol,
body.curam div.content-panel-detail.cfss-person-details-panel {
  top: 5px;
}

/* Context Panel - Person - Right side details - Remove unnecessary space over the details*/
/* Size and positioning of links panel */
body.curam div.content-panel-detail.pd-links-panel-onecol,
body.curam div.content-panel-detail.cfss-person-links-panel {
  top: 5px;
}

/* Context Panel - Prospect Person - Participant Image - Remove unnecessary space over the image*/
body.curam div.content-panel-detail.person-image-panel {
  top: 5px;
}

/* Context Panel - Prospect Person - Participant Details - Remove unnecessary space over the details*/
body.curam div.content-panel-detail.person-details-panel-no-links {
  top: 1px;
}

/* Context Panel - Prospect Person - Person name font size */
body.curam div.content-panel-detail.person-details-panel-no-links .content-name,
body.curam div.content-panel-detail.person-details-panel-onecol .content-name,
body.curam div.content-panel-detail.person-details-panel .content-name,
body.curam div.content-panel-detail.person-details-panel .content-person-name {
  font-size:15px;
  padding-bottom:0px;
}

/* Context Panel - Prospect Person - Person Reference Number font size */
body.curam div.content-panel-detail.person-details-panel-no-links .content-participant-id,
body.curam div.content-panel-detail.person-details-panel-onecol .content-participant-id,
body.curam div.content-panel-detail.person-details-panel .content-participant-id {
       font-size:13px;
}

/* Context Panel - Prospect Person - Person Reference Number - Remove unnecessary space over the details */
.content-participant-id {
  top: 1px;
}

/* Context Panel - Prospect Person - Address, sex, age, phone/fax number font size */
body.curam div.content-panel-detail.person-details-panel-no-links tr td.content-address,
body.curam div.content-panel-detail.person-details-panel-no-links div.content-address,
body.curam div.content-panel-detail.person-details-panel-no-links div.content-sex,
body.curam div.content-panel-detail.person-details-panel-no-links div.content-age,
body.curam div.content-panel-detail.person-details-panel-no-links div.phonenumber,
body.curam div.content-panel-detail.person-details-panel-no-links div.faxnumber,
body.curam div.content-panel-detail.person-details-panel-no-links div.email,
body.curam div.content-panel-detail.person-details-panel-onecol div.content-address,
body.curam div.content-panel-detail.person-details-panel-onecol div.content-sex,
body.curam div.content-panel-detail.person-details-panel-onecol div.content-age,
body.curam div.content-panel-detail.person-details-panel-onecol div.phonenumber,
body.curam div.content-panel-detail.person-details-panel-onecol div.faxnumber,
body.curam div.content-panel-detail.person-details-panel-onecol div.email,
body.curam div.content-panel-detail.person-details-panel div.email,
body.curam div.content-panel-detail.person-details-panel tr td.content-address,
body.curam div.content-panel-detail.person-details-panel div.content-address,
body.curam div.content-panel-detail.person-details-panel div.content-sex,
body.curam div.content-panel-detail.person-details-panel div.content-age,
body.curam div.content-panel-detail.person-details-panel div.phonenumber,
body.curam div.content-panel-detail.person-details-panel div.faxnumber {
       font-size:12px;
       line-height: 20px;
}

/* Context Panel - Prospect Person - PROSPECT font size */
body.curam div.content-panel-detail.person-details-panel-no-links .tab-details div.watermark,
body.curam div.content-panel-detail.person-details-panel-onecol .tab-details div.watermark,
body.curam div.content-panel-detail.person-details-panel .tab-details div.watermark {
    font-size: 12px;
}

/* Context Panel - Prospect Person - Email and Phone moving up */
body.curam.details div.content-panel-detail.person-details-panel-no-links div.content-contacts,
body.curam.details div.content-panel-detail.person-details-panel-onecol div.content-contacts,
body.curam.details div.content-panel-detail.person-details-panel div.content-contacts {
  top: 101px;
}

/* Context Panel - Person - Email and Phone moving up */
body.curam.details div.content-panel-detail.cfss-person-details-panel-no-links div.cfss-content-contacts,
body.curam.details div.content-panel-detail.cfss-person-details-panel-onecol div.cfss-content-contacts,
body.curam.details div.content-panel-detail.cfss-person-details-panel div.cfss-content-contacts {
  top: 101px;
}

/* Font size for Input Text */
body.curam.soria div.list table tbody td.field input.text,
body.curam.soria div.cluster table tbody td.field input.text,
body.curam.soria div.cluster table tbody td.field input.password,
body.curam.soria div.cluster table tbody td.address input.text,
body.curam.soria div.cluster table tbody td.batch input.text,
body.curam.soria div.cluster input.text,
body.curam.soria .calendar input {
       font-size:12px;
}

/* Hyperlink - Font Size */
body.curam.soria div#content div.cluster table td a {
       font-size:12px;
}

/* Input Date box - Font Size */
body.curam.soria div.cluster table .date td.input-date input.date,
body.curam.soria table.date td.input-date input,
body.curam.soria .input-date .dijitTextBox {
       font-size:12px;
}

/*Hamed - Increased the action menu seperator height*/
body.curam.soria .dijitMenuSeparator {
       height:2px;
}

/* Sub Menu Items Font and padding - For ex. Provider - Credentials */
/* Nur Anwar: Defect # 3020,  Master Defect for all cosmetic issues as a result of v7 upgrade, Scroll issue # 16*/
body.curam div.child-nav-items ul li div.link {
       font-size:11px;
         padding:10px 2px 10px 7px;
}

/* Context Panel - Ongoing - Fix for two participants - Details panel */
body.curam .cfss-case-content-panel {
  width: 350px;
}

/* Context Panel - Investigation - Fix for two participants - Image panel */
body.curam.soria .container-panel #stackCon-threeimages {
  height: 160px;
}

/* START This change is for font size and padding for checkbox inside the multiple select box. 
   I found these thing during Ongoing Case Screen to Screen compare changes.*/

/* Font size for checkboxd list */
body.curam.soria div.checkboxed-list div span {
	padding-left:0px;
	font-size:12px;
}
/* Padding for checkboxd list */
body.curam.soria div.checkboxed-list div, body.curam.soria div.checkboxed-list div.unchecked {
	padding:2px 0px 2px 5px;
}
/* END This change is for font size and padding for checkbox inside the multiple select box. 
   I found these thing during Ongoing Case Screen to Screen compare changes.*/

/* START MOBIUS: Defect#3020 Fixed Sheet:Field label obscured Issue#5 */
.navigation-tab .child-nav li div{
	text-overflow: unset;
	white-space:nowrap;
	overflow:hidden;
	width:auto;
}
/* START MOBIUS: Defect#3020 Fixed Sheet:Field label obscured Issue#5 */
body.curam .navigation-tab-outer .navigation-tab div.child-nav {
    top: 0px;
    min-width: auto;
}

/* Don Jin - Fix for drop down border */ 
div.dijitReset.dijitMenu.dijitComboBoxMenu {
       border: 1px solid #5a5a5a;
}

/* Font size for heading font in cluster's list For ex. Admin -> Case -> Product Delivery Cases -> New/Edit Benefit Product */
body.curam.soria div.cluster div.cluster div.header-wrapper h3.collapse,
body.curam.soria div.cluster div.list div.header-wrapper h3 {
       font-size:16px;
}

/* Drop Down - Font size */
body.curam .dijitTextBox.dijitComboBox.codetable {
       font-size:12px;
}

body.curam.soria .description-title {
width:85%;
}

/* Inbox - Task - Context Panel - Font, padding */
body.curam.soria .task-context-header {
  padding-bottom: 1px;
  padding-top: 2px;
  font-size: 14px;
  line-height: 24px;  
}

/* Inbox - Task - Context Panel - Font */
body.curam.soria .task-context-table table td.field,
body.curam.soria .task-context-table table th.field {
  font-size: 12px;
}

body.curam.soria .task-context-subject-label {
  font-size: 12px;
}

body.curam.soria .task-context-subject-details {
  bottom: 80px;
}

/* Investigation Context Panel - Fix for two participants - Details - Horizontal scroll bar */
body.curam .container-panel.investigation-case .cfss-case-content-panel {
  width: 354px;
}

/* Investigation Context Panel - Fix for two participants - Horizontal scroll bar */
body.curam.soria div#content div.context-panel-wrapper div.container-panel.investigation-case {
  width: auto;
  min-width: 0px;
}

/*prospect person context panel*/
body.curam div.content-panel-detail.person-details-panel-no-links div.content-contacts,
body.curam div.content-panel-detail.person-details-panel-onecol div.content-contacts,
body.curam div.content-panel-detail.person-details-panel div.content-contacts {
    padding-left: 0px;
    bottom: 0px;
    position: absolute;
    padding-bottom: 20px;
    min-width: 100%;
    padding-top: 20px;
}

body.curam.soria .pod-container .pod-styling#PT2018 .pod-body div#border-layout, 
body.curam.soria .dndCover .pod-styling#PT2018 .pod-body div#border-layout,
body.curam.soria .pod-container .pod-styling#PT2019 .pod-body div#border-layout,
body.curam.soria .dndCover .pod-styling#PT2019 .pod-body div#border-layout, 
body.curam.soria .pod-container .pod-styling#PT2021 .pod-body div#border-layout,
body.curam.soria .dndCover .pod-styling#PT2021 .pod-body div#border-layout {
    margin-top: 0px;
}

body.curam.soria .pod-body .center div.list-info-header {
    height: 0;
    padding-top: 30px;
}

/* PODs - Fix for EDIT Pencil ICON move*/ 
body.curam.soria .pod-container .dojoxPortlet .dojoxPortletSettingsIcon.dojoxPortletSettingsIconHover, 
body.curam.soria .dndCover .dojoxPortletSettingsIcon.dojoxPortletSettingsIconHover { 
    margin: 0px 8px 0 0;
}

/* PODs - Fix for EDIT Pencil ICON move*/
body.curam.soria .pod-container .dojoxPortlet .dojoxPortletSettingsIcon.dojoxPortletSettingsIconSelect,
body.curam.soria .dndCover .dojoxPortletSettingsIcon.dojoxPortletSettingsIconSelect { 
    margin: 0px 8px 0 0;
}

/* fix for veiw evidence page*/
body.curam .modalDialog .uimController .ipnTabController 
{
	height: 38px !important;
}

/* fix for flex charts*/
div#curam_smartercare_ipsum_dijit_charting_graph_InnerGraph_0 > div div { 	 
    font-family: HelvNeueMediumforIBM !important; 
    font-size: 11px !important;
    color: #464646;    
} 

/* fix the context panel to display outcome plan case pathways in the context panels */

#Curam_Person_homeTabDetails #content div.content-name {
	padding-bottom: 5px;
}

#Curam_Person_homeTabDetails #content div.cipCaseStatus{
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px !important;
    font-family: HelvNeueMediumforIBM, Helvetica, Arial !important;
    color: #294c62 !important;
    text-align: right;
    padding-right: 22px;
    top: 35px;
    right: 0px;
    position: absolute;
}

#Curam_Person_homeTabDetails #content div.content-es-link {
	text-align: right;
    padding-right: 22px;
    top: 18px;
    right: 0px;
    position: absolute;
}

.bold_cluster_header{
	font-weight: bold;
}
#Curam_Person_homeTabDetails #content div.content-es-link a.ac{
	font-size: 14px !important;
    font-family: HelvNeueMediumforIBM, Helvetica, Arial !important;    
}


#Curam_DefaultIC_tabDetails #content div.left-col {
    position: absolute;
    top: 0px;
}

#Curam_DefaultIC_tabDetails #content div.ic-status {
    text-align: right;
    padding-right: 22px;
    font-size: 14px !important;
    font-family: HelvNeueMediumforIBM, Helvetica, Arial !important;
}

/* Classes used on the Needs Identificaiton Pages */
[id$=NeedsIdentification] > #content > #mainForm > div > div.cluster.cluster-with-header > div > div > h3 > span {
	font-weight: bold;
}

[id$=NeedsIdentification] > #content > #mainForm > div > div > div table > tbody > tr > td > div
{
	float: right;
}

body.curam.soria div.cluster table {
	margin-left:10px;
    margin-top:0px;
}


body.curam.soria .navigation-tab div.child-nav div.dijitStackContainerChildWrapper.dijitVisible div.dijitContentPane {
overflow-y:auto;
background-color:#f4f4f4;
margin-top:40px
}

/* Adds the mandatory asterisk to any cluster title with the style "cluster-mandatory" applied to it in the UIM */
div[class*="cluster-mandatory"] > div > div > h3 > span::after
 {
	content: " ";
	background-image: url(../themes/curam/images/Asterisk_Red70_10x20.png);
    background-repeat: no-repeat;
    padding-left: 10px;
}

/* Adds the help icon to any cluster title with the style "cluster-help-icon" applied to it in the UIM */
div[class*="cluster-help-icon"] > div > div > h3 > span::after
 {
	content: " ";
	background-image: url(../../servlet/resource?r=help_nor_external);
    background-repeat: no-repeat;
	padding-left: 40px;
    background-position-x: 20px;
    background-position-y: 3px;}


body.curam.wizard-controls-panel #wizardButtonHolder span.disabled-button span.middle {
	font-family:HelvNeueMediumforIBM, Helvetica, Arial;font-size:14px;color:#4178b3;
	letter-spacing:-0.15px;
	padding: 0px 5px;
	margin:0px;height:20px;
	line-height:20px;
	background-image:none;
}

/*============================= END ===========================*/

/* START - RTC 3787 */
body.curam.soria table.payment-statement thead tr th.field.first-header span,
body.curam.soria table.payment-statement thead tr th.field.last-header span {
	padding-top:5px;
	color:#5A5A5A;
}

body.curam.soria table.payment-statement thead tr th.field.first-header {
	background:#f9f9f9;
	border:none;
}

body.curam.soria table.payment-statement thead tr th.field.last-header {
	background:#f9f9f9;
	border:none;
}

body.curam.soria table.payment-statement thead tr th span {
	border:none;
	color:#5A5A5A;
}

body.curam.soria table.payment-statement thead tr th {
    background: none;
    background-color: #f9f9f9;
	border:none;
}

/* END - RTC 3787 */



/* START - RTC 3888 */
body.curam.soria div.contactList table.scrollable-list-header-table colgroup col:nth-child(1){
	width:7%;
}

body.curam.soria div.contactList table.scrollable-list-header-table colgroup col:nth-child(2){
	width:41%;
}

body.curam.soria div.contactList table.scrollable-list-header-table colgroup col:nth-child(3){
	width:54%;
}

body.curam.soria div.contactList table.scrollable-list-header-table colgroup col:nth-child(4){
	width:16%;
}
/* END - RTC 3888 */

/* START - RTC 3919 */
body.curam.soria .pod-body .center.overdue span.list-info {
	top: -83px;
}
/* END - RTC 3919 */
body.curam.soria span.container span.popup-field {
margin-top:-2px;
border:none;
}

body.curam.soria div.list table.scrollable-list-header-table thead tr th.last-header,
body.list-inline-page div.list table.scrollable-list-header-table thead tr th,
body.list-inline-page div.list table.scrollable-list-header-table thead tr th.field,
body.list-inline-page .list table thead tr th,
body.list-inline-page .list table thead tr th.last-header {
background:url(../images/nested-list-headers.png) repeat-x;

}

body.curam div.navigation-tab div.child-nav-items ul li, body.curam div.navigation-tab div.child-nav-items ul li.disabled {
    background-color: #ececec;
    border: 0px;
    background-image: none;
    width: 100%;
    height: 30px;
    text-decoration: none;
    padding: 0px;
}

body.curam div.child-nav-items ul li div.link {
    font-family: HelvNeueMediumforIBM, Helvetica, Arial;
    height: 10px;
    line-height: 10px;
}

body.soria.curam .list table thead tr th span, body.soria.curam .cda-typical-picture-editor table.list th span{
	padding: 0px;
    font-size:13px;
    line-height:16px;
    display:inline-block;
}
/*Added   the style for prining issue in v7. - Manish*/
@media print  {
body.curam.soria div.cluster table td.field,
body.curam.soria div.cluster table td.container,
body.curam.soria div.cluster table td.codetable,
body.curam.soria div.cluster table td.address {
	  padding-bottom:0px  !important;
       
}
div#note-history table tbody tr td {
  border: 0px !important;
  padding-bottom: 0px !important;
}
.rulestree-scroll {
overflow:visible !important;
}
body.soria div.list div.scrollable {
overflow:visible !important;
}


}